{% extends "base.html.twig" %}

{% block title %}Admin. | {{ parent() }}{% endblock %}

{% block body %}
    <div class="mx-5">
        <h1 class="my-5 text-center">Les annonces du site</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Annonce</th>
                    <th>Contenu</th>
                    <th>Catégorie</th>
                    <th>Date de publication</th>
                    <th>Date de publication</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title | capitalize }}</td>
                        <td class="w-50">{{ article.content }}</td>
                        <td>{{ article.articleCategory.label }}</td>
                        <td>{{ article.publicationDate | date('d/m/Y') }}</td>
                        <td>{{ article.lastUpdateDate | date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <a href="{{ path('admin_article_delete', {'id': article.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
