{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Annonces{% endblock %}

{% block body %}
    <div class="container">

    <div class="row my-4">
        <div class="col-md-6">
            <h1 class="my-4">{{ articles.label }}</h1>
        </div>
        <div class="align-items-center">
            <a class="btn btn-success" href="{{ path('article_create') }}">Publier une annonce</a>
        </div>
    </div>
        {% for article in articles.articles %}
            <div class="blog-card mb-4">
                <div class="meta">
                    <div class="photo" style="background-image: url({{ asset('images/' ~ article.picture) }})"></div>
                    <ul class="details">
                        <li class="author"><i class="fas fa-user-tie"></i>  {{ article.user.username }}</li>
                        <li class="date my-3"><i class="fas fa-clock"></i>  le {{ article.publicationDate | date('d/m/Y') }}</li>
                        <li>

                            {% if app.user %}
                                {% if app.user.username == article.user.username %}
                                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary btn-sm mt-2">Modifier</a>
                                    <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger btn-sm mt-2">Supprimer</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <h1>{{ article.title }}</h1>
                    {% set qwerty = article.getContent()|split(' ', 11) %} 
                        <p>
                        {% for i in 0..9 %}
                           {{qwerty[i] }}
                        {% endfor %}
                        </p>
                        <p class="read-more">
                        <a href="{{ path('article_show',{'id': article.id} ) }}">Read More  <i class="fas fa-arrow-right"></i></a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
