{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}


<div class="container" style="padding-top: 1.5rem;">
  <div class="container-product">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img src="{{ article.picture }}" alt="">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{ article.title }}</h3>
            <div class="mb-1 text-muted">{{ article.PublicationDate|date('d/m/Y') }}</div>
            <p class="card-text mb-auto" style="padding-top: 0.5rem">{{ article.content }}</p>
        {%  if app.user %}
            {% if article.User.id == app.user.id %}
                <div class="row">
                    <ul>
                        <li class="list-inline-item"><a class="btn btn-danger" href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a></li>
                        <li class="list-inline-item"><a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a></li>
                    </ul>

                </div>
            {% endif %}
        {% endif %}          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
