{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <h2>{{ article.title }}</h2>
                <span>{{ article.PublicationDate|date('d/m/Y') }}</span>
                <p>
                    <img src="{{ asset('images/' ~ article.picture) }}" class="responsive-img">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <p>
                    {{ article.content }}
                </p>
            </div>
        </div>
        {%  if app.user %}
            {% if article.User.id == app.user.id %}
                <div class="row">
                    <ul>
                        <li class="list-inline-item"><a class="btn btn-danger" href="#">Supprimer</a></li>
                        <li class="list-inline-item"><a class="btn btn-warning" href="#">Modifier</a></li>
                    </ul>

                </div>
            {% endif %}
        {% endif %}
        <div class="row">

            {% if app.user %}
                {% if app.user.username == article.user.username %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary btn-sm mt-2">Modifier</a>
                    <a href="{{ path('article_delete', {'id': article.id}) }}" class="btn btn-danger btn-sm mt-2">Supprimer</a>
                {% endif %}
            {% endif %}
        </div>
    </article>
{% endblock %}