{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <h2>{{ article.title }}</h2>
                <span>{{ article.PublicationDate|date('d/m/Y') }}</span>
                <p>
                    <img src="{{ asset('images/' ~ article.picture) }}" class="responsive-img">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <p>
                    {{ article.content }}
                </p>
            </div>
        </div>
        <div class="row">
            <a class="button-button btn-danger" href="#">Supprimer</a>
        </div>
    </article>
{% endblock %}